.ai-message {
  width: 100%;
  color: #e5e7eb;
  font-size: 15px;
  line-height: 1.8;
  word-break: break-word;
  
}

/* Paragraph */

.ai-message p {
  margin: 0 0 14px;
}

/* Heading */

.ai-message h1,
.ai-message h2,
.ai-message h3,
.ai-message h4,
.ai-message h5,
.ai-message h6 {
  margin-top: 24px;
  margin-bottom: 12px;
  color: white;
  font-weight: 700;
}

.ai-message h1 {
  font-size: 30px;
}

.ai-message h2 {
  font-size: 26px;
}

.ai-message h3 {
  font-size: 22px;
}

.ai-message h4 {
  font-size: 18px;
}

/* List */

.ai-message ul,
.ai-message ol {
  margin: 14px 0;
  padding-left: 22px;
}

.ai-message li {
  margin: 6px 0;
}

/* Inline Code */

.ai-message :not(pre) > code {
  background: #1f2937;
  color: #67e8f9;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 13px;
}

/* Blockquote */

.ai-message blockquote {
  margin: 18px 0;
  border-left: 4px solid #06b6d4;
  background: rgba(6, 182, 212, 0.08);
  padding: 12px 16px;
  color: #d1d5db;
  border-radius: 0 10px 10px 0;
}

/* Table */

.ai-message table {
  width: 100%;
  border-collapse: collapse;
}

.ai-message th {
  background: #1b2232;
  color: white;
  padding: 12px;
  text-align: left;
}

.ai-message td {
  padding: 12px;
  border-top: 1px solid rgba(255,255,255,.08);
}

.ai-message tr:hover {
  background: rgba(255,255,255,.03);
}

/* Link */

.ai-message a {
  color: #22d3ee;
  text-decoration: underline;
}

.ai-message a:hover {
  color: #67e8f9;
}

/* Image */

.ai-message img {
  max-width: 100%;
  border-radius: 12px;
  /* margin: 16px 0; */
}

/* Pre */

.ai-message pre {
  margin: 0;
  overflow-x: auto;
}

/* Scrollbar */

.ai-message pre::-webkit-scrollbar {
  height: 8px;
}

.ai-message pre::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 20px;
}

.ai-message pre::-webkit-scrollbar-track {
  background: transparent;
}

/* Selection */

.ai-message ::selection {
  background: rgba(56,189,248,.3);
}

/* HR */

.ai-message hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,.1);
  margin: 28px 0;
}